
PP_NAME=eDoc
APP_ENV=production
APP_DEBUG=false
APP_URL=https://edoc.cgmc.gov.kh
LOCALE=en
APP_INSTALLED=true
APP_PCE=
DB_SETUP=true
APP_KEY=base64:mHxxw738hic3P/LKITZjxrJiHQkZjZxZt9RY+Q1sZSo=
APP_TIMEZONE=UTC
TIMEZONE=UTC
APP_DEMO=false
VERSION=v1.7.7

VITE_APP_NAME="${APP_NAME}"

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=e_document
DB_USERNAME=e_document
DB_PASSWORD=e_document@123

BROADCAST_DRIVER=log
CACHE_DRIVER=null
FILESYSTEM_DRIVER=local
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=800
SESSION_REMEMBER_LIFETIME=525600
QUEUE_ENABLE=false


BROADCAST_CONNECTION="${BROADCAST_DRIVER}"

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=admin@system.com
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=E-Document

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=us2

SLACK_ALERT_WEBHOOK=

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


VITE_BROADCAST_CONNECTION="${BROADCAST_CONNECTION}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

RE_CAPTCHA_KEY=
